<style>
     
      table {
            border-collapse:collapse; 
            width:99%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
      }
      td, th {
            border:2px solid black; 
            padding:8px; 
            background-color: rgb{207,23,23};
           text-align: center;
      }
      body {
        background-color: rgb(235,171,52)
      }

      #list {
            text-align: center;
            
      }
      h1 {
            text-align: center;
      }
      
</style>

