<style>
     
      table {
            border-collapse:collapse; 
            width:100%;
            text-align: center;
         
      }
      td, th {
            border:2px solid black; 
            padding:8px; 
           text-align: center;
      }
      body {
        background-color: rgb(235,171,52)
      }

      #list {
            text-align: center;
            
      }
      h1 {
            text-align: center;
      }
      
</style>

