<style>
      h1 {
            text-align:center;
            font-family:serif;
      }
      table {
            border-collapse:collapse; 
            width:100%;
            text-align: center;
      }
      td, th {
            border:2px solid black; 
            padding:8px; 
            background-color: rgb{207,23,23}
      }
      body {
        background-color: rgb(235,171,52)
      }

      #list {
            text-align: center;
      }
      
</style>

